In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from faker import Faker
fake = Faker('no_NO')

In [3]:
fake.name()

'Sofie Næss-Bakke'

In [4]:
fake.address()

'Hanssengrenda 7, 4020 Royhamn'

In [5]:
for _ in range(10):
    print(fake.name())

Julie Hauge-Mikkelsen
Egil-Arne Hagen
Martine-Tonje Andresen
Johannes Moen
Line Svendsen
Britt-Marie Strøm
Nora Moe
Magne Myhre
Geir Sandvik
Martin Bakke

In [6]:
for _ in range(10):
    print(fake.address())

Ellingsenlia 26, 2799 Larsen
Johansenfaret 9, 1724 Berge
Tangenengen 3, 5929 Magnehavn
Brekkestranda 9, 6628 Hegesund
Andreassenkroken 7, 8801 Hanssen
Isaksenbakken 3C, 1432 Jensøy
Rønningroa 80, 3610 Hagen
Rasmussengjerdet 92A, 0656 Rønning
Kristiansenskrenten 1H, 4418 Edvardsen
Isaksenvika 5, 3567 Isaksen

In [7]:
adr = []
for _ in range(10):
    adr.append(fake.address())

In [8]:
adr

['Birkelandfaret 9, 4222 Vidarhavn',
 'Lundehøgda 5, 6722 Lunde',
 'Simonsengrenda 28, 1999 Eliassen',
 'Myklebustskrenten 776, 9399 Elsesand',
 'Birkelandbakken 4, 0656 Andershamn',
 'Henriksenhagen 6, 5516 Hauge',
 'Halvorsenjordet 2H, 8301 Tveit',
 'Knutsenstubben 066, 8899 Ødegård',
 'Jenssenbråten 3, 4122 Wenchefoss',
 'Haugesvingen 4, 6008 Christensen']

In [1]:
from laundromat.spacy.spacy_model import SpacyModel

In [2]:
tekst = ("Hei, mitt navn er Ola Nordmann. Jeg er 20 år og jobber 50 prosent"
"stilling i Arbeidsgiver AS i Norge. Du kan nå meg på 99999999.")

In [3]:
nlp = SpacyModel()

In [4]:
nlp.predict(tekst)

[['Ola Nordmann', 'PER', 5, 7],
 ['Arbeidsgiver AS', 'ORG', 17, 19],
 ['Norge', 'LOC', 20, 21]]

In [5]:
nlp.count(tekst)

{'PER': 1, 'ORG': 1, 'LOC': 1}

In [6]:
sladdet = nlp.replace(tekst, replacement="pad", replacement_char="*-")
sladdet

'Hei, mitt navn er *-*-*-*-*-*-*-*-*-*-*-*-. Jeg er 20 år og jobber 50 prosentstilling i *-*-*-*-*-*-*-*-*-*-*-*-*-*-*- i *-*-*-*-*-. Du kan nå meg på 99999999.'

In [11]:
import spacy

In [12]:
spacy.__version__

'2.3.1'