In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from faker import Faker
fake = Faker('no_NO')

In [3]:
fake.name()

'Gerd Martinsen'

In [4]:
fake.address()

'Liemyra 4, 7608 Knudsen'

In [5]:
for _ in range(10):
    print(fake.name())

Ann Jørgensen
Sigrid Henriksen
Maren-Aud Hanssen
Erling Thomassen
Kirsten Hauge
Sondre Engen
Laila Ødegård
Tommy Gundersen
Tone Myklebust
Sigrid Thorsen

In [6]:
for _ in range(10):
    print(fake.address())

Knudsenholtet 5, 1977 Haraldeid
Karlsenkollen 3, 7014 Marifjord
Kristoffersengropa 66, 3651 Sivertsen
Bøeskrenten 9, 0851 Ingeborgborg
Haugetjernet 11E, 4992 Iversen
Hellandskrenten 67C, 2463 Madsen
Solbergmoen 586, 5476 Elivik
Jensenstien 7, 8787 Jensen
Knudsentjernet 91B, 0131 Sarasand
Kristoffersenmyra 20, 2604 Eriksjøen

In [7]:
adr = []
for _ in range(10):
    adr.append(fake.address())

In [8]:
adr

['Bakkestranda 3, 5839 Mariannefjord',
 'Kristiansenringen 571, 3775 Lien',
 'Solheimhøgda 54C, 3619 Ninasjøen',
 'Andersenspranget 8, 0341 Magnestad',
 'Nygårdholtet 1, 5435 Gretheborg',
 'Madsenhøgda 6, 3539 Randiby',
 'Myklebustjordet 6, 0024 Aune',
 'Haugenstranda 7, 8810 Nilsen',
 'Lundetjernet 02, 7522 Karolinehamn',
 'Karlsentoppen 422, 9859 Danielsen']

In [9]:
from laundromat.spacy.spacy_model import SpacyModel

In [13]:
tekst = ("Hei, mitt navn er Ola Nordmann. Jeg er 20 år og jobber 50 prosent"
"stilling i Arbeidsgiver AS i Norge. Du kan nå meg på 99999999.")

In [14]:
nlp = SpacyModel()

In [15]:
nlp.predict(tekst)

[['Ola Nordmann', 'PER', 5, 7],
 ['Arbeidsgiver AS', 'ORG', 17, 19],
 ['Norge', 'LOC', 20, 21]]

In [16]:
nlp.count(tekst)

{'PER': 1, 'ORG': 1, 'LOC': 1}

In [18]:
sladdet = nlp.replace(tekst, replacement="pad", replacement_char="*-*")
sladdet

'Hei, mitt navn er *-**-**-**-**-**-**-**-**-**-**-**-*. Jeg er 20 år og jobber 50 prosentstilling i *-**-**-**-**-**-**-**-**-**-**-**-**-**-**-* i *-**-**-**-**-*. Du kan nå meg på 99999999.'